.quality-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quality-caption h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 6px;
    line-height: 32px;
}
.quality-cabinet h1 {
    color: #CC8A3E;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 0px;
}
.quality-caption span {
    width: 70px;
    background: #8f8f8f;
    height: 1px;
    margin: 0 34px;
}
.margin-top {
    margin-top: 30px !important;
}
.quality-caption h3 small {
    font-size: 14px;
}
.cabinet-image{
   
        background: url(../../images/3500.jpg) no-repeat;
       
        display: flex;
        justify-content: end;
        align-items: center;
        height: 100vh;
        flex-direction: column;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        background-position: center center !important
    }



  


.cabinet-text {
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 0;
}

.cabinet-text h1 {
    font-size: 130px;
    margin: 0 !important;
    font-weight: 500;
}

.cabinet-text h1 span {
    font-size: 56px;
    position: relative;
    bottom: 50px;
    font-weight: 400;
}


.cabinet-text p {
    font-size: 17px;
    margin-bottom: 7px;
}

    .cabinet-text button {
        background: none;
        padding: 20px 23px !important;
        font-size: 10px;
        color: #ffffff;
        margin-top: 10px;
        position: relative;
        background: #CC8A3E;
        border: none;
        width: 230px;
        text-align: left;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #CC8A3E;
        text-transform: uppercase;
        letter-spacing: 1px;
        &:hover{
            background: none;
            transition: .3s ease-in-out;
            color:#CC8A3E

        }
    }
    .cabinet-text button svg {
        font-size: 20px;
    }

    .quality-redefined-transform {
        width: 300px;
        margin-top: 136px;
        transform: rotate(90deg);
        display:flex;
        align-items: center;
        position: relative;
        
    }
    .box {
        width: 14px;
        background: black;
        height: 14px;
        position: relative;
        left: -10px;
        top: -3px;
    }

    .quality-redefined-transform-text h6 {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2px;
    }

    .border {
        background: black;
        width: 1px;
        height: 100vh;
        transform: rotate(90deg);
        position: relative;
        bottom: 4px;
    }

    // 

    .q12-intro_liner {
        position: absolute;
        top: 200px;
        right: 40px;
    }

    .liner {
        position: relative;
    }

    .q12-intro_liner .liner_container {
        position: static;
    }

    .liner_container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
    }
    .liner_box {
        width: 10px;
        height: 10px;
        background: #000104;
        color: #000104;
        display: inline-block;
    }
    .liner_text {
        width: 14px;
    }
  
    .liner_line {
        width: 1px;
        background: #757575;
        display: inline-block;
        z-index: 100;
        height: 700px;
    }

    .liner_container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        position: absolute !important;
        top: 691px;
        left: 0;
    }

    .liner_text > span {
        font-size: 13px;
        text-transform: uppercase;
        writing-mode: vertical-lr;
        display: inline-block;
        letter-spacing: 4px;
        padding-top: 15px;
        padding-bottom: 7px;
        white-space: nowrap;
        color: #000104;
        font-weight: 700;
        position: relative;
        left: -2px;
    }

    .cabinet-text {
        position: relative;
        bottom: 18px;
    }

    .cabinet-image img {
        width: 80%;
        position: relative;
        right: 199px;
        top: 128px;
    }

    .kitchen-text p {
        line-height: 30px;
        font-weight: 400;
    }

    .kitchen-caption h1 {
        font-size: 45px;
        width: 100%;
        margin-bottom: 10px;
    }
    .kitchen-caption h1 span{
        font-style: italic;
    }
    .kitchen-caption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .space {
        margin-top: 230px;
        padding: 120px;
        padding-bottom: 0;
    }

    .cabinet-text-flex {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
    }
    .cabinet-text-flex h3 {
        position: relative;
        top: 24px;
    }
    .cabinet-text h3 {
        width: 100%;
        position: relative;
        bottom: 8px;
    }

    .cabinet-text h3 {
        width: 100%;
        position: relative;
        bottom: 8px;
        font-size: 26px;
    }

    .home h3 {
        color: white !important;
    }
    .kitchen h3 {
        font-size: 20px;
        font-weight: 700;
        color: white !important;
    }
    .specifiq-color {
        font-weight: 700;
        font-size: 30px;
        color: #CC8A3E;
    }

    .quality-cabinet {
        text-align: center;
        padding-top: 30px;
    }
   
    .quality-cabinet p {
        font-size: 17px;
        margin: 18px 0px;
    }
    .quality-cabinet {
        text-align: center;
        padding-top: 90px;
    }
    .array-content img {
        width: 51px;
    }
    .array-content {
        text-align: center;
        background: #ebebeb;
        padding: 42px 28px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 423px;
    }
    .growth-text h3 {
        color: white;
        opacity: 0.7;
    }
    .images___array {
        width: 90px;
        background: white;
        height: 90px;
        line-height: 90px;
        text-align: center;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .array-content h4 {
        margin: 10px 0;
        font-size: 20px;
        font-weight: 700;
        color: #CC8A3E;
    }

    .array-content p {
        font-size: 16px;
        line-height: 24px;
    }

    .number span {
        width: 65px;
        height: 65px;
        background: #CC8A3E;
        display: inline-block;
        line-height: 65px;
        text-align: center;
        color: white;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 40px;
        z-index: 999 !important;
        position: relative;
    }

    .quality-defender-border {
        border: 2px solid #CC8A3E;
        margin: 0 173px;
        position: relative;
        top: 35px;
        z-index: 1;
    }

    .quality-cabinet h5 {
        margin-bottom: 55px;
    }