.our-brand img{
    width: 100%;
    height: 100%;
}

.our-brand-text h1 {
    font-size: 52px;
}

span.span-1 {
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 3px;
    color: #714829;
}

span.span-2 {
    font-weight: 800;
    letter-spacing: 5px;
    color: #CA883F;
}

span.span-3 {
    font-size: 90px;
    letter-spacing: 6px;
    font-weight: 800;
    color: #363636;
}

span.span-5 {
    font-weight: 800;
    letter-spacing: 5px;
    color: #CA883F;
    position: relative;
}

span.span-5::before {
    content: "";
    position: absolute;
    left: -46px;
    top: 60px;
    background: #CA883F;
    width: 116px;
    height: 7px;
}
.our-brand-text p {
    font-size: 22.4px;
    line-height: 34px;
    font-weight: 400;
}

.our-brand img {
    width: 100%;
    height: 690px;
    object-fit: cover;
}

.growth {
    background: #C9893F;
    padding: 60px 0;
    color: white;
    text-align: center;
}

.growth h3 {
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
}
.growth p {
    width: 86%;
    margin: 0 auto;
    line-height: 25px;
}

.brands {
    text-align: center;
}

.brands h4 {
    font-weight: 800;
    letter-spacing: 2px;
}

.brands p {
    font-weight: 500;
    font-style: italic;
    font-size: 17px;
}

.brands.__border {
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 0 22px;
}

.our-values h2 {
    color: #CC8A3E;
    font-weight: 800;
    letter-spacing: 1px;
}

.our-values p {
    font-size: 25px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 40px;
}

.our-values span {
    display: inline-block;
    height: 3px;
    width: 40%;
    background: #CC8A3E;
    position: relative;
    bottom: 4px;
}

.customer.add-new-custom-class p {
    margin: 0 !important;
    padding: 0;
}
.add-new-custom-class{
    text-align: left !important;
}

.customer.add-new-custom-class p {
    margin: 0 !important;
    padding: 0;
    padding-right: 125px;
}
.first-box{
    position: relative;
}

.thied-box {
    position: relative;

}
.thied-box::before {
    content: "";
    position: absolute;
    top: 6px;
    height: 15px;
    background: #C9893F;
    width: 15px;
    left: 0;
    margin-left: -38px;
}


.first-box::before {
    content: '';
    position: absolute;
    top: 0;
    height: 15px;
    background: #C9893F;
    width: 15px;
    left: 100%;
    margin-left: 23px;
}

.second-box{
    position: relative;
}

.second-box::before {
    content: '';
    position: absolute;
    top: 8px;
    height: 15px;
    background: #C9893F;
    width: 15px;
    left: 100%;
    margin-left: 23px;
}

.dotted {
    display: grid;
    grid-template-columns: 2fr 0.1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    .customer h3 {
        font-weight: 600;
        margin-bottom: 15px;
    }
    .bottom_border {
        width: 2px;
        height: 100%;
        background: #CA883F;
    }
    .example-borders {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 30px;
    }
    .customer h3 {
        font-weight: 600;
        color: #C9893F;
    }
    .customer{
        text-align: right;
    }

    .customer p {
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
        padding-left: 104px;
    }