.visualize{
    background:linear-gradient(rgba(0, 0, 0, 0.425),#00000069), url(../../images/visu.jpg)no-repeat fixed;
    background-size: cover;
    height: 100vh;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 20px
}

.visualize h1  {
    
    font-size: 55px;
font-weight: 600;
}
.visualize h1 span {
    font-style: italic;
    font-size: 55px;
    
}

.visualize-btn-group{
    margin-top: 30px !important;
    display: flex;
}

.visualize-btn-group button {
    background: none;
    padding: 20px 23px !important;
    font-size: 10px;
    color: #ffffff;
    margin-top: 10px;
    position: relative;
    background: #CC8A3E;
    border: none;
    width: 230px;
    text-align: left;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #CC8A3E;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 10px;
    &:hover{
        background: none;
        transition: .3s ease-in-out;
        color:#CC8A3E

    }
}
.visualize-btn-group button svg {
    font-size: 20px;
}

