


.slide-one{
    background:linear-gradient(#8f7459af,#8f7459aa),url(../../images/banner/2.jpg)no-repeat;
    background-size: cover;
    padding: 70px 0;
  }

  .content-style{
    position: relative;
    z-index: 10;
  }
   
  .content-style::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 0;
    width: 150px;
    height: 350px;
    background: #C08543;
    opacity: 0.8;
    z-index: -1;
    border-top-left-radius: 100px;
    
}

.content-style {
    padding: 80px 50px;
}

.slider___text h2 {
    color: white;
    font-size: 33px;
    line-height: 44px;
    font-weight: 600;
    letter-spacing: 1px;
}

.slider___text h2 span {
    font-weight: 700;
}


// .slide-two{
//     background: url(../../images/banner/2.jpg)no-repeat;
//     background-size: cover;
//     height: 65vh;
//     background-position: center;
// }
.slide-two{
    background:linear-gradient(#8f7459af,#8f7459aa),url(../../images/banner/3.jpg)no-repeat;
    background-size: cover;
    padding: 70px 0;
}
.slide-four{
    background: url(../../images/banner/4.jpg)no-repeat ;
    background-size: cover;
    height: 65vh;
    background-position: center
}
.slide-five{
    background: url(../../images/banner/5.jpg)no-repeat ;
    background-size: cover;
    height: 65vh;
    background-position: center
}
.slide-six{
    background: url(../../images/banner/6.jpg)no-repeat ;
    background-size: cover;
    height: 65vh;
    background-position: center
}
.slide-seven{
    background: url(../../images/banner/7.jpg)no-repeat ;
    background-size: cover;
    height: 65vh;
    background-position: center;
    padding: 100px;
}
.slide-eight{
    background: url(../../images/banner/8.jpg)no-repeat ;
    background-size: cover;
    height: 65vh;
    background-position: center;
    padding: 140px;
}
.slide-nine{
    background: url(../../images/banner/9.jpg)no-repeat ;
    background-size: cover;
    height: 65vh;
    background-position: center;
    padding: 150px;
}
.slide-ten{
    background: url(../../images/banner/11.jpg)no-repeat ;
    background-size: cover;
    height: 65vh;
    background-position: center;
}

.content h1 {
    text-align: center;
    color: white;
    font-style: italic;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 66px;
    font-size: 50px;
}
.content h3{
    font-style: italic;
    margin-top: 10px;
}

.content button {
    background: none;
    padding: 22px 23px !important;
    font-size: 10px;
    color: #ffffff;
    margin-top: 20px;
    position: relative;
    background: #CC8A3F;
    border: none;
    width: 230px;
    text-align: left;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #CC8A3F;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .3s ease-in-out;
}
.content button svg{
    font-size: 20px;
}

.content button:hover{
    background: none;
    color: #CC8A3F;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}


.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 24px;
    height: 3px;
    padding: 0;
    margin-right: 7px;
    margin-left: 7px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000000;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transition: opacity .6s ease;
    padding: 8px 0; transition: .3s ease-in-out;
  
}

.carousel-indicators [data-bs-target]:hover{
    background-color: #000000 !important;
    opacity: 1 !important;
}

a{
    text-decoration: none;
}

.visualize {
   
    height: 60vh !important
    
}

.visualize-btn-group {
    margin-top: 50px !important;
    display: flex;
}

.DreamKitchen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 75px !important;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}

.slider___text h2 {
    color: white;
    font-size: 33px;
    line-height: 44px;
    font-weight: 600;
    letter-spacing: 1px;
}
.content h3 {
    font-style: initial;
    margin-top: 10px;
    color: #CC8A3F;
    font-weight: 700;
    font-size: 50px;
}

.slider___text a {
    color: white;
    display: inline-block;
    margin-top: 20px;
    border: 2px solid white;
    padding: 10px 53px;
    border-radius: 49px;
    transition: .3s ease-in-out;
}

.slider___text a:hover{
    background: white;
    color: #C08543;
}