.company-info{
    background: url(../../images/1234567890.jpg)no-repeat fixed;
    background-size: cover;
    height: 65vh;
    background-position: center 98%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.more-class {
    padding-top: 50px !important ;
}

.cabinets-image{
   
    background: url(../../images/1111111111111111111111111111111111.jpg) no-repeat;
   
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.company img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 8px 8px 0px 0px;
}

.company h5 {
    font-weight: 600;
    letter-spacing: 2px;
}
.company p {
    font-size: 16px;
    line-height: 24px;
}

.why-choose-us h1 {
    margin-bottom: 25px;
    font-weight: 700;
    letter-spacing: 4px;
}
.why-choose-us p {
    line-height: 28px;
    font-weight: 500;
    color: #ffffff;
}

.need-product-bg {
    background: #DCDCDC;
    padding:50px;
    position: relative;
    top: 60px;
}

.details-image img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.video-section {
    align-items: center;
    background: #000;
    color: #fafafa;
    padding: 100px 0 !important;
    position: relative;
    width: 100%;
    z-index: 1;
    color:white
}

.video-section video {
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 100%;
}
.video-overly {
    background: linear-gradient(45deg,rgba(0,0,0,.867),rgba(21,2,58,.49));
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.why-choose-us {
    z-index: 99;
    position: relative;
    color: white !important;
}

.company-content svg {
    font-size: 40px;
}

.company-content h4 {
    padding: 14px 0;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 600;
}

.company-content p {
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 1px;
}

.company-content {
    position: relative;
    padding: 30px 36px;
    border: 1px solid #767676;

}
.review img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.review {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0;
    align-items: center;
    text-align: center;
}

.review h4 {
    margin: 18px 0;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
}

.review h4 {
    margin: 18px 0;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
}

.review h4 {
    margin: 18px 0;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
}

.about-us ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px !important;
    font-weight: 400;
    margin-top: 8px;
    display: block;
}

.details-image h5 {
    font-size: 19px;
    font-weight: 600;
    position: relative;
    top: 20px;
    padding-bottom: 0px;
}

.need-product-bg {
    background: #DCDCDC;
    padding: 38px;
    position: relative;
    top: 60px;
}